a:focus, a:hover {
    text-decoration: none;
    color: #FF7814;
}

#toast-container {
    text-align: justify;
    text-justify: inter-word;
    font-size: 0.75rem;
}


.color-accordion-block a.ui-state-active, .color-accordion-block a:focus, .color-accordion-block a:hover{
    color: #fff;
    background: #FF7814;
}

.accordion-msg {
    font-size: 0.6em;
    font-weight: 600;
}

.card .card-block .sub-title {
    font-weight: bold;
}

.table.table-xs {
    font-size: 0.8em;
    width: 100%;
}

.table.table-xs td{
    vertical-align: middle;
}

.title a {
    display: block;
    color: #007bff;
}

.title a:focus, .title a:hover {
    background: #FF7814;
}

.action-icon a:focus, .action-icon a:hover {
    color: #424242;
    background: transparent;
}

.action-create a:hover, .btn a:focus {
    background: #005b96;
}

.dataTables_filter {
    float: left !important;
 }

 div .dt-buttons {
    float: right;
}

.dt-buttons a:hover {
    color: #FFFFFF
}

@media only screen and (max-width: 767px) {
    .table.table-xs {
        margin-top: 1.5em;
    }
}