a:focus, a:hover {
    text-decoration: none;
    color: #FF7814;
}

.color-accordion-block a.ui-state-active, .color-accordion-block a:focus, .color-accordion-block a:hover{
    color: #fff;
    background: #424242;
}

.accordion-msg {
    font-size: 0.6em;
    font-weight: 600;
}

.card .card-block .sub-title {
    font-weight: bold;
}

.table.table-xs {
    font-size: 0.8em;
    width: 100%;
}

.table.table-xs td{
    vertical-align: middle;
}

.title a {
    display: block;
    color: #007bff;
}

.title a:hover {
    background: #FF7814;
}

.title a:focus {
    background: #FF7814;
}

.action-icon a:hover {
    color: #424242;
    background: transparent;
}

.action-icon a:focus {
    color: #424242;
    background: transparent;
}

@media only screen and (max-width: 767px) {
    .table.table-xs {
        margin-top: 1.5em;
    }
}